@import url("https://fonts.google.com/specimen/Montserrat?query=monts");


body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    
}

#iconoB{
    padding: 20px;
}

.menu{
    padding: 20px;
    font-size: 16px;
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color: #212429;
    
}


.menuP img{
    padding: 20px;
}

hr {
    border: 1px solid #212429;
    margin: 1rem;
    height:0;
}
    
h1{
    font-size: 32px;
    padding: 20px;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    
}
.elemento p{
    display: flex;
    justify-content: center;
}

.elemento img{
    border-radius: 16px;
}

strong{
    padding-left: 100px;
}


.pie{
    display: flex;
    background-color: #212429;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.cajaF{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.pie a{
    color:#ffffff;
    text-decoration: none;
    padding-left: 16px;
}

.iconoF{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 8px;
}


@media (max-width:1096px) {
.menu{
    display: none;
}
.menuP{
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;

}
}