@import url("https://fonts.google.com/specimen/Montserrat?query=monts");


body{
    box-sizing: border-box;
}


.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
}

h1{
    font-size: 32px;
}

.container{
    display: flex;
    flex-flow: row wrap;

}
.elemento{
    padding: 15px;
}

footer{
    display: flex;
    background-color: #212429;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding: 1rem;

    
}

footer a{
    color:#ffffff;
    text-decoration: none;
}

.iconoF{
    background-color: #ffffff;
    border-radius: 50px;
    padding: 8px;
}

